/* Styles for the main dashboard layout */
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }

app-footer{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
