<div class="challan-container">
    @for (challan of challanReturn; track $index) {
            <div class="challan-details">
            <p>Challan ID: {{ challan["id"] }}</p>
            <p>Vehicle ID: {{ challan["vehicleId"] }}</p>
            <p>Description : {{ challan["description"] }}</p>
            <p>Location : {{ challan["location"] }}</p>
            <p>Timestamp : {{ challan["timestamp"] }}</p>
            <p>Amount : {{ challan["amount"] }}</p>
            <p>Status : {{ challan["status"] }}</p>
            @if (challan.status==="Unsettled") {
            <p>Due Date : {{ challan["dueDate"] }}</p>
            } @else {
            <p>Settled Date : {{ challan["settlementDate"] }}</p>
            }
        </div>
        }
</div>
<button type="button">Pay Challan</button>