/* Styles for the main dashboard layout */
.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  /* router-outlet {
    flex-grow: 1;
    padding: 20px;}
     */

  app-footer {
    position: fixed;
    bottom: 0vh;
    width: 98vw;
  }
  