<div class="challans-container">
  <div class="dashboard-header">
    <h1 class="heading">Your Challans</h1>
  </div>
  @if(challanReturn.length !== 0) {
  <div class="challans-grid">
    @for (challan of challanReturn; track $index) {
    <div class="challan-card">
      <div class="challan-header">
        <h3>{{ challan["id"] }}</h3>
        <span
          class="status-badge"
          [class.status-unsettled]="challan.status === 'unsettled'"
        >
          {{ challan["status"] }}
        </span>
      </div>
      <div class="challan-details">
        <div class="detail-item">
          <span class="label">Vehicle ID:</span>
          <span class="value">{{ challan["vehicleId"] }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Description:</span>
          <span class="value">{{ challan["description"] }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Location:</span>
          <span class="value">{{ challan["location"] }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Creation Time:</span>
          <span class="value">{{ (challan["date"]+ 'Z') | date: "short" : "+0530"}}</span>
        </div>
        <div class="detail-item">
          <span class="label">Amount:</span>
          <span class="value amount">₹{{ challan["amount"] }}</span>
        </div>
        @if (challan.status === "unsettled") {
        <div class="detail-item">
          <span class="label">Due Date:</span>
          <span class="value due-date">{{
            ((getDueDate(challan["due_time"])+"")) | date: "short"
          }}</span>
        </div>
        <button class="btn-pay" (click)="payAChallan(challan['id'])">Pay Now</button> } @else {
        <div class="detail-item">
          <span class="label">Settled Date:</span>
          <span class="value">{{ (challan["settlement_date"]+'Z') | date: "short" : "+0530"}}</span>
        </div>
        }
      </div>
    </div>
    }
  </div>
  <div class="pay-all-container">
    <button class="btn-pay-all" (click)="payAllChallan(vehicleId)">Pay All Challans</button>
  </div>
  } @else {
  <div class="no-challans"><span>No Challans</span></div>
  }
</div>
