<div class="detail-container">
  <div class="detail-header">
    <div class="vehicle-id">{{ vehicleDetail["id"] }}</div>
  </div>


  <div class="detail-content">
    <div class="detail-row">
      <span class="detail-label">Fastag Status</span>
      <span class="detail-value">
        @if(vehicleDetail["tagId"]) {
          <span class="tag-status active">
            {{ vehicleDetail["tagId"] }}
          </span>
        } @else {
          <span class="tag-status inactive">
            No Fastag Associated
          </span>
        }
      </span>
    </div>

    <div class="detail-row">
      <span class="detail-label">Owner Email</span>
      <span class="detail-value">{{ vehicleDetail["email"] }}</span>
    </div>
  </div>

  <div class="detail-actions">
    <button class="challan-button" (click)="onChallan(vehicleDetail )">
      View Challans
    </button>
  </div>
</div>
